body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

body.imprint {
  background: hsl(0,0%,95%);
}

main.imprint {
  margin: 2rem;
  padding: 1rem 2rem;
  background: white;
  flex-grow: 1;
  border-radius: .35rem;
  overflow: auto;
  box-shadow: 0 0 .3rem hsla(0,0%,0%,.15);
}

main.home {
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}

.home img.logo {
  min-width: 256px;
  width: 1px;
  max-width: 1024px;
}

.home img.typo {
  min-width: 256px;
  width: 50vw;
  max-width: 1440px;
}

header.imprint {
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

header.imprint a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

header.imprint a img.logo {
  height: 50px;
  margin-bottom: 8px;
  order: 2;
}

header.imprint a img.typo {
  height: 90px;
  order: 1;
}

@media screen and (max-width: 600px) {
  header.imprint a img.logo {
    width: 50vw;
  }
  
  header.imprint a img.typo {
    display: none;
  }
}

footer {
  display: flex;
  height: calc(50px - 2rem);
  border-top: 2px solid hsl(0,0%,85%);
  background: hsl(0,0%,90%);
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

footer a {
  color: hsl(0,0%,50%);
  text-decoration: none;
}