@import "global";

.icon {
    background-color: white;
    background-image: url("./../../assets/9list.svg");
    background-size: contain;
    width: 128px;
    height: 128px;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: solid .2rem white;

    &.shadow {
        box-shadow: 0 .25rem .3rem hsla(0,0%,0%,.1);
    }
}