@import "global";

.drawer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    color: hsl(0,0%,15%);
    background-image: url("./../../assets/patterns/dot-grid.png.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;

    h2 {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .subtitle {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .inner {
        margin-top: 1rem;
        padding: 1rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        @include media('>medium') {
            gap: 5rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .inner > * {
        transition: all .25s ease-out;

        &:hover {
            transform: translateY(-.25rem);
        }
    }
}