@import "global";

.footer {
    padding: 2rem 2rem;
    background: $footer-bg;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    .nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        a {
            color: $footer-link-fg;
            transition: color .2s ease;

            &:hover {
                color: darken($footer-link-fg, 10%);
            }
        }
    }
}