@import "global";

$footer-font-size: 14px;

.footer {
    flex: none;
    padding: 1rem 1.5rem;
    background: $footer-bg;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    .copyright {
        color: $footer-link-fg;
        font-size: $footer-font-size;
        flex-basis: 100%;
        text-align: center;

        @include media('>=medium') {
            text-align: left;
            margin-right: auto;
            flex-basis: initial;
        }
    }

    .nav {
        margin-top: .5rem;
        flex-basis: 100%;
        justify-self: center;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-size: $footer-font-size;

        @include media('>=medium') {
            margin: 0;
            flex-basis: initial;
            justify-content: initial;
            justify-self: flex-end;
        }

        a {
            color: $footer-link-fg;
            transition: color .2s ease;
            padding-right: 1rem;

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                color: darken($footer-link-fg, 10%);
            }
        }
    }
}