@import "../../../node_modules/include-media/dist/include-media";

$brand-color:  hsl(190,75%,40%);
$brand-color-bg-toned: hsl(190,33%,7%);

$header-height: 45px;
$header-item-spacing: 2.5rem;
$header-bg: hsl(0,0%,15%);
$header-a-fg: hsl(0,0%,85%);
$header-a-fg-anim: hsl(0,0%,95%);

$footer-bg: hsl(0,0%,90%);
$footer-link-fg: hsl(0,0%,50%);

// Breakpoints
$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-huge: 1400px;
$breakpoints: (
    'small': $bp-small,
    'medium': $bp-medium,
    'large': $bp-large,
    'huge': $bp-huge
);

a {
    text-decoration: none;
}