@import "global";

.jumbo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    color: hsl(0,0%,15%);
    background-image: url('./../../assets/patterns/geometry.png');
    background-repeat: repeat;
    background-attachment: fixed;

    h2 {
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .subtitle {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .subscribeSubtitle {
        margin-top: 0.33rem;
        font-size: 0.85rem;
        opacity: 0.9;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .moreLink {
        border: 1px solid hsl(0,0%,50%);
        border-radius: 0.33rem;
        margin-top: 2rem;
        padding: 1rem 2rem;
        color: hsl(0,0%,25%);
        transition: all .25s ease;
        background: white;

        &:hover {
            border: 1px solid darken($brand-color, 5%);
            color: darken($brand-color, 5%);
        }
    }
}